<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" />
</head>

<body>
	<h1 th:if="${pizzas.size() == 0}" class="text-center mt-5">NON CI SONO PIZZE!</h1>
	<div class="container" th:if="${pizzas.size() > 0}">
	<h1 class="text-center">Lista delle pizze</h1>
		
	<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Pizza</th>
      <th scope="col">Ingredienti</th>
      <th scope="col">Prezzo</th>
      <th scope="col">Foto</th>
      <th scope="col">Show</th>
    </tr>
  </thead>
  <tbody>
	  <tr th:each="pizza : ${pizzas}">
      <td>[[${pizza.id}]]</th>
      <td>[[${pizza.name}]]</td>
      <td>[[${pizza.description}]]</th>
      <td>[[${pizza.price}]]</th>
      <td><img th:src="${pizza.photo}"></td>
      <td><a class="btn btn-primary" th:href="@{/pizza/{id}(id=${pizza.id})}">Show</a></td>
    </tr>
  </tbody>
</table>
	</div>
</body>

</html>